<div class="container">
    <ul class="nav flex-column">
        
        <li class="nav-item">
            <a class = "tab"  routerLink="gestion-citas/1234" routerLinkActive="tab-active">Mis Citas</a>
        </li>
        <li class="nav-item">
            <a class = "tab"  routerLink="gestionar-perfil/1234" routerLinkActive="tab-active">Gestionar Perfil</a>
        </li>
        <li class="nav-item">
            <a class = "tab"  routerLink="mis-puntos/1234" routerLinkActive="tab-active">Mis Puntos</a>
        </li>
        
    </ul>
</div>