<div class="container">
    <ul class="nav flex-column">
        
        <li class="nav-item">
            <a class = "tab"  routerLink="1234/gestion-citas" routerLinkActive="tab-active">Mis Citas</a>
        </li>
        <li class="nav-item">
            <a class = "tab"  routerLink="1234/gestionar-perfil" routerLinkActive="tab-active">Gestionar Perfil</a>
        </li>
        <li class="nav-item">
            <a class = "tab"  routerLink="1234/mis-puntos" routerLinkActive="tab-active">Mis Puntos</a>
        </li>
    </ul>
</div>